{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }}
        <title>Nuevo Grupo</title>

        {{ current_theme.local_style() }}
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/form-validation') }}" rel="stylesheet" />
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            {{ current_theme.notify() }}

            <div class="container px-4 py-5" id="icon-grid">
                <h4 class="pb-2 border-bottom">Agregar un nuevo Grupo de Usuarios.</h4>
                <form method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="nombre" class="form-label">Nombre del Grupo.</label>
                            {{ form.nombre(class="form-control", id="nombre", placeholder="Nombre del Grupo.") }}
                        </div>

                        <div>
                            <label for="descripcion" class="form-label">Descripción</label>
                            {{ form.descripcion(class="form-control", id="descripcion", placeholder="Descripción del Grupo") }}
                        </div>
                    </div>
                    <button class="w-10 btn btn-lg btn-primary btn-block" type="submit">Crer Grupo</button>
                </form>
            </div>
        </main>
    </body>
</html>
