modules = ["web", "python-base-3.13", "nodejs-22"]
run = "LOG_LEVEL=TRACE /home/runner/workspace/venv/bin/flask run --debug --reload --port 8080 --extra-files 'now_lms/templates/'"

[nix]
channel = "stable-24_05"
packages = ["cargo", "fontconfig", "ghostscript", "glib", "harfbuzz", "libiconv", "libmysqlclient", "libxcrypt", "openssl", "pango", "pkg-config", "rustc"]

[deployment]
run = "/home/runner/workspace/venv/bin/python -m now_lms"

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
