modules = ["web", "python-base-3.13", "nodejs-22"]
run = "/home/runner/workspace/venv/bin/python -m now_lms"

[nix]
channel = "stable-24_05"
packages = [
    "cargo",
    "fontconfig",
    "ghostscript",
    "glib",
    "harfbuzz",
    "libiconv",
    "libxcrypt",
    "openssl",
    "pango",
    "pkg-config",
    "rustc",
]

[deployment]
run = "/home/runner/workspace/venv/bin/python -m now_lms"

[[ports]]
localPort = 8080
externalPort = 80
exposeLocalhost = true
