# Librerias de terceros
alembic==1.16.2
appdirs==1.4.4
argon2-cffi==25.1.0
babel==2.17.0
bleach==6.2.0
cuid2==2.0.1
flask==3.1.1
flask==3.1.1
flask-alembic==3.1.1
flask-babel==4.0.0
flask-caching==2.3.1
flask-login==0.6.3
flask-mail==0.10.0
flask-mde==1.2.1
flask-reuploaded==1.4.0
flask-sqlalchemy==3.1.1
flask_weasyprint==1.1.0
flask-wtf==1.2.2
markdown==3.8.2
pyjwt==2.10.1
python-ulid==3.0.0
qrcode==8.2
sqlalchemy==2.0.41
requests==2.32.4
redis==6.2.0
waitress==3.0.2
weasyprint==65.1
wtforms==3.2.1
# Soporte a Bases de datos
#MySQL
PyMySQL==1.1.1
cryptography==45.0.4
# Postgresql
pg8000==1.31.2