# Librerias de terceros
alembic
appdirs
argon2-cffi
babel
bleach
cachelib
configobj
cryptography
cuid2
flask
flask
flask-alembic
flask-babel
flask-caching
flask-login
flask-mail
flask-mde
flask-reuploaded
flask-session
flask-sqlalchemy
flask_weasyprint
flask-wtf
gunicorn
markdown
memcache
mysql-connector-python
pg8000
psutil
pyjwt
python-slugify
python-ulid
qrcode
sqlalchemy
requests
redis
weasyprint
wtforms
