# Librerias de terceros
alembic
appdirs
argon2-cffi
babel
bleach
configobj
flask
flask[async]
flask-alembic
flask-babel
flask-caching
flask-login
flask-mailman
flask-mde
flask-reuploaded
flask-sqlalchemy
flask-wtf
loguru
markdown
python-ulid
sqlalchemy
requests
redis
stripe
waitress
wtforms

# Soporte a Bases de datos
#MySQL
PyMySQL
cryptography
# Postgresql
pg8000
