{% import "macros.html" as macros %}
{% set permitir_docente = docente_asignado(id_curso=curso.codigo) %}
{% set permitir_moderador = moderador_asignado(id_curso=curso.codigo) %}
{% set permitir_estudiante = estudiante_asignado(id_curso=curso.codigo) %}
{% set permitir_editar = current_user.tipo == "admin" or permitir_docente %}

<!DOCTYPE html>
<html lang="es" class="h-100">

<head>

  {{ macros.headertags() }}
  <title>{{ curso.nombre | title }}</title>

  {{ macros.local_style() }}
</head>

<body>

  {{ macros.navbar() }}

  <main>

    {{ macros.notify() }}
    <br>

    <div class="container">
      <div class="d-flex justify-content-between border-bottom">

        <h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-reset text-decoration-none link-dark"
                  href="{{ url_for("panel") }}">Inicio</a></li>
              <li class="breadcrumb-item">{{ curso.nombre }}</li>
            </ol>
          </nav>
        </h4>
        <div>
          {% if permitir_editar %}
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button">
              <i class="bi bi-gear" aria-hidden="true"></i> Acciones
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="visually-hidden">Ocultar Menu</span>
            </button>
            <ul class="dropdown-menu">
              <li><span class="dropdown-item-text text-start">Cambiar status:</span></li>
              <li><a href="{{ url_for("cambiar_estatus_curso", curse=curso.codigo, status="draft") }}"
                  class="text-reset text-decoration-none">Borrador</a></li>
              <li><a href="{{ url_for("cambiar_estatus_curso", curse=curso.codigo, status="open") }}"
                  class="text-reset text-decoration-none">Abierto</a></li>
              <li><a href="{{ url_for("cambiar_estatus_curso", curse=curso.codigo, status="closed") }}"
                  class="text-reset text-decoration-none">Cerrado</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><span class="dropdown-item-text">Publicar Curso:</span></li>
              <li><a href="{{ url_for("cambiar_curso_publico", curse=curso.codigo) }}"
                  class="text-reset text-decoration-none">Quitar del Sitio Web.</a></li>
              <li><a href="{{ url_for("cambiar_curso_publico", curse=curso.codigo) }}"
                  class="text-reset text-decoration-none">Agregar al Sitio Web.</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a href="{{ url_for("eliminar_curso", course_id=curso.codigo) }}"
                  class="text-reset text-decoration-none">Eliminar</a></li>
            </ul>
          </div>
          {% endif %}
        </div>

      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
        <div class="col-md-4 border-right">

          {% if curso.portada %}
          <img src="{{ url_for('static', filename='/files/public/images/' + curso.codigo + '/logo.jpg') }}" width="100%"
            height="225" alt="Portada del Curso">
          {% else %}
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title> {{ curso.nombre }} </title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">{{ curso.nombre }}</text>
          </svg>
          {% endif %}

          {% if permitir_editar %}
          <div class="d-flex d-flex justify-content-around">
            <a class="btn btn-warning btn-sm" href="{{ url_for('editar_curso', course_code=curso.codigo) }}"
              role="button"><i class="bi bi-pencil-square" aria-hidden="true"></i> Editar Curso</a>
          </div>
          <span class="text-capitalize"></span> Status: {{ curso.estado }}
          {% endif %}

          <h2> {{ curso.nombre }}</h2>
          <iframe title="{{ curso.codigo }}"
            src="{{ url_for('curso_descripcion_a_html', course_code=curso.codigo) }}"></iframe>
          <br>
          {% if curso.fecha_inicio and curso.fecha_fin %}
          <i class="bi bi-calendar-week" aria-hidden="true"></i>
          {{ curso.fecha_inicio }} - {{ curso.fecha_fin }}
          {% else %}
          <i class="bi bi-calendar" aria-hidden="true"></i>
          A su propio ritmo
          {% endif %}

          {% if curso.precio %}
          <br>
          <i class="bi bi-cash-coin" aria-hidden="true"></i>
          {{ curso.precio | float }}
          {% endif %}

          {% if curso.certificado %}
          <br>
          <i class="bi bi-award" aria-hidden="true"></i>
          Curso Certificado
          {% endif %}

          {% if curso.capacidad %}
          <br>
          <i class="bi bi-people" aria-hidden="true"></i>
          Cupo Limitado
          {% endif %}
          <br>
          {{ nivel[curso.nivel] | safe }}

          <br>
          {% if current_user.is_authenticated %}

          {% else %}
          <div class="d-flex d-flex justify-content-around">
            <a href="{{ url_for("inicio_sesion")}}" class="btn btn-primary" role="button" aria-disabled="true">
              Iniciar Sesión
            </a>
            <a href="{{ url_for("crear_cuenta")}}" class="btn btn-warning" role="button" aria-disabled="true">
              Crear Cuenta
            </a>
          </div>
          {% endif %}



        </div>
        <div class="col-md-8">
          <h3>Contenido del curso.</h3>
          {% if permitir_editar %}
          <a href="{{ url_for("nuevo_seccion", course_code=curso.codigo) }}" class="btn btn-sm btn-success"><i
              class="bi bi-bookmark-plus-fill" aria-hidden="true"></i> Nueva Sección</a>
          {% endif %}

          {% if secciones %}
          <div class="accordion accordion-flush" id="accordionSeccionesCurso">
            {% for seccion in secciones %}
            <div class="accordion-item accordion-flush">

              <h2 class="accordion-header accordion-flush" id="heading{{ seccion.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse{{ seccion.id }}" aria-expanded="false"
                  aria-controls="collapse{{ seccion.id }}">
                  {{ seccion.nombre }}
                </button>
              </h2>

              <div id="collapse{{ seccion.id }}" class="accordion-collapse collapse"
                aria-labelledby="heading{{ seccion.id }}" data-bs-parent="#accordionSeccionesCurso">
                <div class="accordion-body accordion-flush">
                  {% if permitir_editar %}
                  <div class="d-flex justify-content-end">
                    <a href="{{ url_for("nuevo_recurso", course_code=curso.codigo, seccion=seccion.id) }}"
                      class="btn btn-success btn-sm"><i class="bi bi-plus-circle" aria-hidden="true"></i> Nuevo
                      Recurso</a>
                    <div class="btn-group">
                      <button class="btn btn-info btn-sm" type="button">
                        <i class="bi bi-arrows-move" aria-hidden="true"></i> Ordenar
                      </button>
                      <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="visually-hidden">Ocultar Menu Ordenar</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a
                            href="{{ url_for("reducir_indice_seccion", course_code=curso.codigo, indice=seccion.indice) }}"
                            class="text-reset text-decoration-none"><i class="bi bi-arrow-down-short"
                              aria-hidden="true"></i> Bajar</a></li>
                        <li><a
                            href="{{ url_for("incrementar_indice_seccion", course_code=curso.codigo, indice=seccion.indice) }}"
                            class="text-reset text-decoration-none"><i class="bi bi-arrow-up-short"
                              aria-hidden="true"></i> Subir</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-secondary btn-sm" type="button">
                        <i class="bi bi-ui-checks" aria-hidden="true"></i> Acciones
                      </button>
                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="visually-hidden">Ocultar Menu Acciones</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a
                            href="{{ url_for("cambiar_seccion_publico", course_code=curso.codigo, codigo=seccion.id) }}"
                            class="text-reset text-decoration-none">Publicar Sección</a></li>
                        <li><a
                            href="{{ url_for("cambiar_seccion_publico", course_code=curso.codigo, codigo=seccion.id) }}"
                            class="text-reset text-decoration-none">Ocultar Sección</a></li>
                        <li><a href="{{ url_for("eliminar_seccion", curso_id=curso.codigo, id_=seccion.id) }}"
                            class="text-reset text-decoration-none">Elimina Sección</a></li>
                      </ul>
                    </div>
                    <a href="{{ url_for("editar_seccion", course_code=seccion.curso, seccion=seccion.id) }}"
                      class="btn btn-warning btn-sm"><i class="bi bi-pencil-square" aria-hidden="true"></i> Editar
                      Sección</a>
                  </div>
                  {% endif %}

                  {{ seccion.descripcion }}
                  <ul class="list-group list-group-flush">

                    {% for recurso in recursos %}
                    {% if recurso.seccion == seccion.id %}
                    <li class="list-group-item">
                      <div class="d-flex justify-content-between">

                        {% if current_user.tipo == "admin" or permitir_estudiante %}
                        <a class="link-dark text-decoration-none"
                          href="{{ url_for("pagina_recurso", curso_id=recurso.curso, resource_type=recurso.tipo, codigo=recurso.id) }} ">
                          <div class="fw-bold"> <i class="{{ iconos_recursos[recurso.tipo] }}" aria-hidden="true"></i>
                            {{ recurso.nombre }}</div>
                        </a>
                        {% elif recurso.publico == True %}
                        <a class="link-dark text-decoration-none"
                          href="{{ url_for("pagina_recurso", curso_id=recurso.curso, codigo=recurso.id, resource_type=recurso.tipo) }} ">
                          <div class="fw-bold"> <i class="{{ iconos_recursos[recurso.tipo] }}" aria-hidden="true"></i>
                            {{ recurso.nombre }}</div>
                        </a>
                        <span class="badge bg-success">Preview</span>
                        {% else %}
                        <div class="fw-bold"> <i class="{{ iconos_recursos[recurso.tipo] }}" aria-hidden="true"></i>
                          {{ recurso.nombre }}</div>
                        {% endif %}

                        {% if permitir_editar %}
                        <div>
                          <span class="badge bg-primary">
                            <a href="{{ url_for("modificar_orden_recurso", cource_code=recurso.curso, seccion_id=recurso.seccion , resource_index=recurso.indice , task="increment") }}"
                              class="link-light"><i class="bi bi-arrow-down-short" aria-hidden="true"></i> Bajar</a>
                          </span>
                          <span class="badge bg-primary">
                            <a href="{{  url_for("modificar_orden_recurso", cource_code=recurso.curso, seccion_id=recurso.seccion , resource_index=recurso.indice, task="decrement")  }}"
                              class="link-light"><i class="bi bi-arrow-up-short" aria-hidden="true"></i> Subir</a>
                          </span>
                          <span class="badge bg-danger">
                            <a href="{{ url_for("eliminar_recurso", curso_id=recurso.curso, seccion=recurso.seccion, id_=recurso.id) }}"
                              class="link-light"><i class="bi bi-trash3" aria-hidden="true"></i> Eliminar</a>
                          </span>
                        </div>
                        {% endif %}
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}

          <div class="d-flex justify-content-center">
            {% if permitir_editar %}
            <a href="{{ url_for("nuevo_seccion", course_code=curso.codigo) }}" class="btn btn-primary" role="button"
              aria-disabled="true">Crear Nueva Sección</a>
            {% else %}
            <p>Este curso actualmente no cuenta con secciones disponibles.</p>
            {% endif %}
          </div>

          {% endif %}
        </div>

      </div>

    </div>



  </main>


</body>

</html>
