{% import "macros.html" as macros %}

<!doctype html>
<html lang="es" class="h-100">

<head>

    {{ macros.headertags() }}
    <title>{{ curso.nombre }}</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>
</head>

<body>

    {{ macros.navbar() }}

    <main>
        <br>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
                <div class="col-md-4 border-right">
                    <img src="{{ curso.portada }}" alt="Portada {{curso.nombre}}" width="360" height="225">
                    <h2> {{ curso.nombre }}</h2>
                    <p>
                        {{ curso.descripcion }}
                    </p>

                </div>
                <div class="col-md-8">
                    <h4> Contenido del Curso. </h4>
                    

                </div>

            </div>

        </div>



    </main>


</body>

</html>
