{% import "macros.html" as macros %}

<!doctype html>
<html lang="es" class="h-100">

<head>

    {{ macros.headertags() }}
    <title>Crear un nuevo recurso</title>

    {{ macros.local_style() }}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/form-validation') }}" rel="stylesheet">
</head>

<body>

    {{ macros.navbar() }}

    <main>

        <div class="container px-4 py-5" id="icon-grid">
            <h4 class="pb-2 border-bottom">Seleccione tipo de Recurso.</h4>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-6">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h5>Featured title</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h5>Featured title</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h5>Featured title</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h5>Featured title</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h5>Featured title</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h5>Featured title</h5>
                    </div>
                </div>
            </div>
            
        </div>


    </main>


</body>

</html>
