{% set current_theme = current_theme() %}
<!doctype html>
{% set config = config() %}
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }}
        <title>{{ programa.nombre }}</title>

        {{ current_theme.local_style() }}
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            {{ current_theme.notify() }}

            <div class="px-4 pt-5 my-5 text-center border-bottom">
                <h1 class="display-4 fw-bold">{{ programa.nombre }}</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">{{ programa.descripcion }}</p>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="">Cursos</div>
                                <h6 class="">{{ cuenta_cursos(programa.codigo) }}</h6>
                            </div>
                            {% if programa.precio %}
                            <div class="col">
                                <div class="">Precio</div>
                                <h6 class="">{{ config.moneda }} {{ programa.precio }}</h6>
                            </div>
                            {% endif %}
                            <div class="col">
                                <div class="">Acceso</div>
                                <h6 class="">De por vida</h6>
                            </div>
                        </div>
                    </div>

                    <br />
                </div>

                <div class="col-lg-6 mx-auto">
                    <div class="container">{{ programa.texto }}</div>
                </div>
            </div>
            <div class="px-4 pt-5 my-5 text-center">hello</div>
        </main>
    </body>
</html>
