{% import "macros.html" as macros %}
{% import "learning/resources/type_macros.html" as r_macros %}
{% set permitir_docente = docente_asignado(id_curso=curso.codigo) %}
{% set permitir_moderador = moderador_asignado(id_curso=curso.codigo) %}
{% set permitir_estudiante = estudiante_asignado(id_curso=curso.codigo) %}
{% set permitir_editar = current_user.tipo == "admin" or permitir_docente %}

<!DOCTYPE html>
<html lang="es" class="h-100">

<head>

    {{ macros.headertags() }}
    <title>{{ curso.codigo | upper }} - {{ curso.nombre | title }}</title>

    {{ macros.local_style() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>

    <style>
      #canvas_container {
        width: 800px;
        height: 450px;
        overflow: auto;
        background: #333;
        text-align: center;
        border: solid 3px;
      }
    </style>

</head>

<body>

    {{ macros.navbar() }}

    <main>

      {{ macros.notify() }}

      <div class="container px-0 py-3" id="icon-grid">
        <h4 class="pb-2 border-bottom">
            <a class="link-dark" href="{{ url_for("curso", course_code=recurso.curso) }}">
                <i class="bi bi-arrow-left-short" aria-hidden="true"></i><i class="bi bi-journal-bookmark-fill" aria-hidden="true"></i>
            </a>
            {{ seccion.nombre }} / {{ recurso.nombre }}
        </h4>

        <div class="row">
          
          <div class="col-sm-8">

            <div id="my_pdf_viewer">

              <div id="canvas_container" class="d-flex justify-content-around">
                  <canvas id="pdf_renderer"></canvas>
              </div>

              <div id="navigation_controls" class="d-flex justify-content-around">
                <button type="button" class="btn btn-outline-info" id="go_previous"><i class="bi bi-arrow-left-short" aria-hidden="true"></i> Página Anterior</button>
                <input id="current_page" value="1" type="number">
                <button type="button" class="btn btn-outline-info" id="go_next">Página Posterior <i class="bi bi-arrow-right-short" aria-hidden="true"></i></button>
              </div>

            </div>

          </div>
          <script>
              var myState = {
                  pdf: null,
                  currentPage: 1,
                  zoom: 1
              }
           
              pdfjsLib.getDocument('{{ recurso.url }}').then((pdf) => {
           
                  myState.pdf = pdf;
                  render();
              });
              function render() {
                  myState.pdf.getPage(myState.currentPage).then((page) => {
               
                      var canvas = document.getElementById("pdf_renderer");
                      var ctx = canvas.getContext('2d');
           
                      var viewport = page.getViewport(myState.zoom);
                      canvas.width = viewport.width;
                      canvas.height = viewport.height;
               
                      page.render({
                          canvasContext: ctx,
                          viewport: viewport
                      });
                  });
              }
              document.getElementById('go_previous').addEventListener('click', (e) => {
                  if(myState.pdf == null || myState.currentPage == 1) 
                    return;
                  myState.currentPage -= 1;
                  document.getElementById("current_page").value = myState.currentPage;
                  render();
              });
              document.getElementById('go_next').addEventListener('click', (e) => {
                  if(myState.pdf == null || myState.currentPage > myState.pdf._pdfInfo.numPages) 
                     return;
                  myState.currentPage += 1;
                  document.getElementById("current_page").value = myState.currentPage;
                  render();
              });
              document.getElementById('current_page').addEventListener('keypress', (e) => {
                  if(myState.pdf == null) return;
               
                  // Get key code 
                  var code = (e.keyCode ? e.keyCode : e.which);
               
                  // If key code matches that of the Enter key 
                  if(code == 13) {
                      var desiredPage = 
                      document.getElementById('current_page').valueAsNumber;
                                       
                      if(desiredPage >= 1 && desiredPage <= myState.pdf._pdfInfo.numPages) {
                          myState.currentPage = desiredPage;
                          document.getElementById("current_page").value = desiredPage;
                          render();
                      }
                  }
              });
          </script>

          <div class="col-sm-4">

            {{ r_macros.resource_nav(recursos=recursos, secciones=secciones) }}
            
          </div>

        </div>
        
        {{ r_macros.nav_footer() }}
    </div>

    </main>

</body>

</html>
