{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
  <head>
    {{ current_theme.headertags() }}
    <title>Estudiante</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>

  <body>
    {{ current_theme.navbar() }}

    <main>{{ current_theme.notify() }}</main>
  </body>
</html>
