{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="es" class="h-100">

<head>

  {{ macros.headertags() }}
  <title>Docente</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

  </style>
</head>

<body>

  {{ macros.navbar() }}

  <main>

    {{ macros.notify() }}

    <div class="container px-0 py-3" id="icon-grid">
      <h4 class="pb-2 border-bottom">Panel del docente.</h4>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
          <h3><i class="bi bi-card-checklist" aria-hidden="true"></i></h3>
          <div>
            <h4 class="fw-bold mb-0">Cursos</h4>
            <p>
              <a href=" {{ url_for("cursos") }} " class="link-dark">Cursos</a>
              -
              <a href="{{ url_for("nuevo_curso") }}" class="link-dark">Nuevo Curso</a>
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <h3><i class="bi bi-diagram-3-fill" aria-hidden="true"></i></h3>
          <div>
            <h4 class="fw-bold mb-0">Programas</h4>
            <p>
              <a href="/programs" class="link-dark">Programas</a>
              -
              <a href="/new_program" class="link-dark">Nuevo Progama</a>
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <h3><i class="bi bi-award-fill" aria-hidden="true"></i></h3>
          <div>
            <h4 class="fw-bold mb-0">Certificados</h4>
            <p>
              <a href="" class="link-dark">Certificados</a>
              -
              <a href="" class="link-dark">Nuevo Certificado</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
          <h3><i class="bi bi-tags-fill" aria-hidden="true"></i></h3>
          <div>
            <h4 class="fw-bold mb-0">Etiquetas</h4>
            <p>
              <a href="{{url_for("tags")}}" class="link-dark">Etiquetas</a>
              -
              <a href="{{url_for("new_tag")}}" class="link-dark">Nueva Etiqueta</a>
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <h3><i class="bi bi-tags-fill" aria-hidden="true"></i></h3>
          <div>
            <h4 class="fw-bold mb-0">Categorias</h4>
            <p>
              <a href="{{url_for("categories")}}" class="link-dark">Categorias</a>
              -
              <a href="{{url_for("new_category")}}" class="link-dark">Nueva Categoria</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>


</body>

</html>
