{% macro notify() %}{% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message
in messages %}
<div class="{{ estilo_alerta.clase[category] }} alert-dismissible fade show" role="alert">
    <i class="{{ estilo_alerta.icono[category] }}" aria-hidden="true"></i> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}{% endif %}{% endwith %}{% endmacro %}
