{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }}
        <title>Actualizar Recurso</title>

        {{ current_theme.local_style() }}
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/form-validation') }}" rel="stylesheet" />
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            {{ current_theme.notify() }}

            <div class="container px-4 py-5" id="icon-grid">
                <h4 class="pb-2 border-bottom">Actualizar Recurso.</h4>
                <form method="post">
                    {{ form.csrf_token }}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="nombre" class="form-label">Recurso</label>
                            {{ form.nombre(class="form-control", id="nombre", placeholder="Recurso", value=recurso.nombre) }}
                        </div>

                        <div class="col-sm-6">
                            <label for="precio" class="form-label">Precio</label>
                            {{ form.precio(class="form-control", id="codigo", value=recurso.precio) }}
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            {{ form.descripcion(class="form-control", id="descripcion", value=recurso.descripcion) }}
                        </div>

                        <div class="col-sm-6">
                            <label for="tipo" class="form-label">Tipo</label>
                            {{ form.tipo(class="form-control", id="tipo") }}
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="descripcion" class="form-label">Recurso Publico</label>
                            {{ form.publico(checked=recurso.publico) }}

                            <label for="descripcion" class="form-label">Recurso Promocionado</label>
                            {{ form.promocionado(checked=recurso.promocionado) }}
                        </div>
                    </div>
                    <br />
                    <button class="w-10 btn btn-lg btn-primary btn-block" type="submit">Actualizar Recurso</button>
                </form>
            </div>

            <br />
        </main>
    </body>
</html>
