{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }}
        <title>Crear Recurso</title>

        {{ current_theme.local_style() }}
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/form-validation') }}" rel="stylesheet" />
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            {{ current_theme.notify() }}

            <div class="container px-4 py-5" id="icon-grid">
                <h4 class="pb-2 border-bottom">Crear Recurso.</h4>
                <form method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="nombre" class="form-label">Recurso</label>
                            {{ form.nombre(class="form-control", id="nombre", placeholder="Recurso") }}
                        </div>

                        <div class="col-sm-6">
                            <label for="codigo" class="form-label">Codigo</label>
                            {{ form.codigo(class="form-control", id="codigo", placeholder="Codigo") }}
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            {{ form.descripcion(class="form-control", id="descripcion", placeholder="Descripción") }}
                        </div>

                        <div class="col-sm-6">
                            <label for="precio" class="form-label">Precio</label>
                            {{ form.precio(class="form-control", id="codigo") }}
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="tipo" class="form-label">Tipo</label>
                            {{ form.tipo(class="form-control", id="tipo") }}
                        </div>
                    </div>

                    <br />

                    <div class="row g-3">
                        <div class="col-sm-6">
                            <p>Seleccione el archivo que desea compartir.</p>
                            <label for="descripcion" class="form-label">Recurso</label>
                            <input type="file" name="recurso" />
                        </div>

                        <div class="col-sm-6">
                            <p>Seleccione una imagén para usar como portada.</p>
                            <label for="descripcion" class="form-label">Portada</label>
                            <input type="file" name="img" accept="image/jpeg" />
                        </div>
                    </div>

                    <br />

                    <button class="w-10 btn btn-lg btn-primary btn-block" type="submit">Crear Recurso</button>
                </form>
            </div>
        </main>
    </body>
</html>
