{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="es" class="h-100">

<head>
    <title>Inicio de sesión.</title>

    {{ macros.headertags() }}
    <title>Inicio de sesión</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
</head>

<body class="text-center">

    <main class="form-signin">
        <form method="post">
            {{ form.csrf_token }}
            <a href="{{ url_for('home') }}">
                <img class="mb-4" src="{{ url_for('static', filename='icons/logo/logo.svg') }}" alt="" width="72"
                    height="57">
            </a>
            <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="usuario" class="visually-hidden">Usuario</label>
            {{ form.usuario(class="form-control", id="usuario", placeholder="Usuario") }}
            <label for="contraseña" class="visually-hidden">Contraseña</label>
            {{ form.acceso(class="form-control", id="acceso", placeholder="Contraseña") }}
            <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
            <a href="{{ url_for('home') }}"><i class="bi bi-arrow-left"  aria-hidden="true"></i> Regresar</a>
            <p class="mt-5 mb-3 text-muted text-center">BMO Soluciones &copy; 2020 - 2021</p>
        </form>
    </main>

</body>

</html>
