{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }}
        <title>Certificado de Finalizacion de curso.</title>

        {{ current_theme.local_style() }}
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            <div class="container px-0 py-3" id="curse_list">
                <h4>Certificado de Finalización de Curso</h4>

                <div>
                    <p>
                        Se hace constar que <strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong> ha completado
                        satisfactoriamente el curso <strong>{{ curso.nombre }} ({{ curso.codigo }})</strong> cumpliendo con
                        todos los requisitos académicos y evaluaciones establecidas.
                    </p>
                </div>

                <h5>Datos del Estudiante:</h5>
                <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
                <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>

                <h5>Datos del Curso:</h5>
                <p><strong>Nombre del Curso:</strong>: {{ curso.nombre }}</p>
                <p><strong>Descripción del Curso:</strong>: {{ curso.descripcion }}</p>
                {% if curso.fecha_inicio %}
                <p><strong>Fecha de Inicio:</strong> {{ curso.fecha_inicio }}</p>
                {% endif %} {% if curso.fecha_fin %}
                <p><strong>Fecha de Inicio:</strong> {{ curso.fecha_fin }}</p>
                {% endif %} {% if curso.duracion %}
                <p><strong>Duración:</strong> {{ curso.duracion }} horas</p>
                {% endif %}

                <h5>Datos del Certicado:</h5>
                <p><strong>Fecha de Emisión:</strong> {{ certificacion.fecha }}</p>
                {% if certificacion.nota %}
                <p><strong>Nota:</strong> {{ certificacion.nota }}</p>
                {% endif %}

                <br />
                <br />

                <a
                    href="{{ url_for('certificate.certificacion', ulid=certificacion.id) }}"
                    type="button"
                    target="_blank"
                    class="btn btn-success"
                    ><i class="bi bi-eye-fill" aria-hidden="true"></i> Ver Certicado</a
                >

                <a
                    href="{{ url_for('certificate.certificate_serve_pdf', ulid=certificacion.id) }}"
                    type="button"
                    target="_blank"
                    class="btn btn-success"
                    ><i class="bi bi-cloud-arrow-down-fill" aria-hidden="true"></i> Descargar Certificado</a
                >
            </div>
        </main>
    </body>
</html>
