{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }} {{ mde.css }}
        <title>Nuevo Recurso - Audio</title>

        {{ current_theme.local_style() }}
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/form-validation') }}" rel="stylesheet" />
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            {{ current_theme.notify() }}

            <div class="container px-4 py-5" id="icon-grid">
                <h4 class="pb-2 border-bottom">Agregar un nuevo audio</h4>
                <form method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="nombre" class="form-label">Nombre del archivo.</label>
                            {{ form.nombre(class="form-control", id="nombre", placeholder="Nombre del archivo.") }}
                        </div>

                        <div class="col-md-12">
                            <label for="descripcion" class="form-label">Audio</label>
                            <input type="file" name="audio" accept="audio/ogg" />
                        </div>

                        <div class="col-sm-6">
                            <label for="requerido" class="form-label">Tipo de Recurso</label>
                            {{ form.requerido(class="form-control", id="requerido") }}
                        </div>

                        <div>
                            <label for="descripcion" class="form-label">Descripción</label>
                            {{ form.descripcion }} {{ mde.preview }} {{ mde.js }}
                        </div>

                        <button class="w-10 btn btn-lg btn-primary btn-block" type="submit">Agregar Recurso</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
