{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="es" class="h-100">

<head>

  {{ macros.headertags() }}

  <title>Configuración de Anuncios de AdSense</title>

  {{ macros.local_style() }}
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/form-validation') }}" rel="stylesheet">
</head>

<body>

  {{ macros.navbar() }}

  <main>

    {{ macros.notify() }}

    <div class="container px-4 py-5" id="icon-grid">
      <h4 class="pb-2 border-bottom">Editar configuración de anunciós de AdSense.</h4>
      <form method="post">

        <div class="row">

          <div class="col-sm-6">
            <label for="email" class="form-label">Mostrar etiqueta en Header:</label>
            {{ form.meta_tag_include() }}
          </div>

        </div>

        <div class="row">

          <div class="col-sm-6">
            <label for="meta_tag" class="form-label">Header scritp:</label>
            {{ form.meta_tag(class="form-control", id="meta_tag",) }}
          </div>

        </div>

        <br>

        <div class="row">

          <div class="col-sm-6">
            <label for="pug_id" class="form-label">ID de Usuario:</label>
            {{ form.pub_id(class="form-control", id="pub_id",) }}
          </div>

        </div>
        <br>

        <a class="btn btn-success" target="_blank" href="{{ url_for("setting.ads_txt") }}" role="button">Verificar
          archivo
          ads.txt</a>

        <br>
        <br>

        <a class="btn btn-warning" href="{{ url_for("admin_profile.pagina_admin") }}" role="button">Cancelar</a>
        <button class="w-10 btn btn-primary btn-block" type="submit">Actualizar Configuración</button>

      </form>
    </div>

  </main>

</body>

</html>
