{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }}
        <title>Usuarios inativos</title>

        {{ current_theme.local_style() }}
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            <div class="container px-0 py-3" id="user_list">
                <h4 class="pb-2 border-bottom">Usuarios pendientes de activación.</h4>

                <div class="container" id="user_table">
                    <table class="table table-sm table-borderless">
                        <caption>
                            Lista de usuarios registrados en el sistema pendientes de activar.
                        </caption>
                        <thead>
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo Electronico</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        {% for item in consulta.items -%}
                        <tbody>
                            <tr>
                                <td>
                                    <a class="link-dark" href="{{ url_for('user_profile.usuario', id_usuario=item.usuario) }}">
                                        {{ item.usuario }}
                                    </a>
                                </td>
                                <td>
                                    <a class="link-dark" href="{{ url_for('user_profile.usuario', id_usuario=item.usuario) }}">
                                        {{ item.nombre }}
                                    </a>
                                </td>
                                <td>
                                    <a class="link-dark" href="{{ url_for('user_profile.usuario', id_usuario=item.usuario) }}">
                                        {{ item.apellido }}
                                    </a>
                                </td>
                                <td>
                                    <a class="link-dark" href="{{ url_for('user_profile.usuario', id_usuario=item.usuario) }}">
                                        {{ item.correo_electronico }}
                                    </a>
                                </td>
                                <td>
                                    <span class="badge bg-success">
                                        <a
                                            href="{{ url_for('admin_profile.activar_usuario', user_id=item.id, ruta='usuarios_inactivos') }}"
                                            class="link-light"
                                            >Aprobar</a
                                        >
                                    </span>
                                    <span class="badge bg-danger">
                                        <a
                                            href="{{ url_for('admin_profile.eliminar_usuario', user_id=item.id, ruta='usuarios_inactivos') }}"
                                            class="link-light"
                                            >Rechazar</a
                                        >
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>

                <div class="container" id="user_paginatios">
                    {{ current_theme.rendizar_paginacion(consulta=consulta, vista="usuarios") }}
                </div>
            </div>
        </main>
    </body>
</html>
