{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }}

        <title>Editar configuracion</title>

        {{ current_theme.local_style() }}
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/form-validation') }}" rel="stylesheet" />
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            {{ current_theme.notify() }}

            <div class="container px-4 py-5" id="icon-grid">
                <h5 class="pb-2 border-bottom">Configuración del Correo Electronico.</h5>
                <form method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="email" class="form-label">Permitir Correo Electronico:</label>
                            {{ form.email(class="form-control") }}
                        </div>
                    </div>

                    <div class="row"><br /></div>
                    <div class="row"><br /></div>

                    <div class="row">
                        <div>
                            <br />
                            <a class="btn btn-danger" href="{{ url_for('admin_profile.pagina_admin') }}" role="button"
                                >Cancelar</a
                            >
                            <button class="w-10 btn btn-primary btn-block" type="submit">Enviar Correo de Prueba</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
