{% set current_theme = current_theme() %}
<!doctype html>
<html lang="es" class="h-100">
    <head>
        {{ current_theme.headertags() }}

        <title>Editar configuracion</title>

        {{ current_theme.local_style() }}
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/form-validation') }}" rel="stylesheet" />
    </head>

    <body>
        {{ current_theme.navbar() }}

        <main>
            {{ current_theme.notify() }}

            <div class="container px-4 py-5" id="icon-grid">
                <h5 class="pb-2 border-bottom">Configuración del Correo Electronico.</h5>
                {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %} {% if config.email_verificado %}
                <div class="alert alert-success" role="alert">
                    <i class="bi bi-check-circle" aria-hidden="true"></i> La configuración de correo electrónico ha sido
                    verificada correctamente.
                </div>
                {% endif %}
                <form method="post">
                    <div class="row">
                        <br />
                        <h5 class="pb-2 border-bottom">Datos de acceso al servidor SMTP.</h5>

                        <div class="col-sm-6">
                            <label for="servidor" class="form-label">Servidor:</label>
                            {{ form.MAIL_SERVER(class="form-control", id="servidor",) }}
                        </div>

                        <div class="col-sm-6">
                            <label for="puerto" class="form-label">Puerto:</label>
                            {{ form.MAIL_PORT(class="form-control", id="puerto",) }}
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="usuario" class="form-label">Usuario:</label>
                            {{ form.MAIL_USERNAME(class="form-control", id="usuario") }}
                        </div>

                        <div class="col-sm-6">
                            <label for="contrasena" class="form-label">Contraseña (Oculta por seguridad.):</label>
                            {{ form.MAIL_PASSWORD(class="form-control", id="contrasena") }}
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="tls" class="form-label">Utilizar TLS.</label>
                            {{ form.MAIL_USE_TLS() }}
                        </div>

                        <div class="col-sm-6">
                            <label for="ssl" class="form-label">Utilizar SSL.</label>
                            {{ form.MAIL_USE_SSL() }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <br />
                            <label for="default_sender" class="form-label">Default sender.</label>
                            {{ form.MAIL_DEFAULT_SENDER(class="form-control", id="default_sender") }}
                        </div>
                        <div class="col-sm-6">
                            <br />
                            <label for="default_sender_name" class="form-label">Default sender name.</label>
                            {{ form.MAIL_DEFAULT_SENDER_NAME(class="form-control", id="default_sender_name") }}
                        </div>
                    </div>

                    <div class="row"><br /></div>
                    <div class="row"><br /></div>

                    <div class="row">
                        <br />
                        <div class="col">
                            <div>
                                <a href="{{ url_for('setting.mail_check') }}" type="button" class="btn btn-primary"
                                    >Enviar Correo de Prueba</a
                                >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <br />
                            <a class="btn btn-danger" href="{{ url_for('admin_profile.pagina_admin') }}" role="button"
                                >Cancelar</a
                            >
                            <button class="w-10 btn btn-primary btn-block" type="submit">Actualizar Configuración</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
