{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="es" class="h-100">

<head>

    {{ macros.headertags() }}
    <title>Panel del usuario</title>

    {{ macros.local_style() }}
</head>

<body>

    {{ macros.navbar() }}

    <main>

        {{ macros.notify() }}
        
        <div class="container px-0 py-3" id="icon-grid">
            <h4 class="pb-2 border-bottom">Bienvenido 
                {% if current_user.tipo == "admin" %}
                Administrador del Sistema.
                {% else %}
                {{ current_user.nombre}} {{ current_user.apellido}}
                {% endif %}
            </h4>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col d-flex align-items-start">
                    <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#cpu-fill" />
                    </svg>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>


</body>

</html>
