{% import "macros.html" as macros %}

<!doctype html>
<html lang="es" class="h-100">

<head>

    {{ macros.headertags() }}
    <title>Usuario - {{ perfil.usuario }}</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>
</head>

<body>

    {{ macros.navbar() }}

    <main>
        <div class="container" id="user_profile">
            <h4 class="pb-2 border-bottom">Perfil del usuario {{ perfil.usuario }}</h4>
            {% if current_user.tipo == "admin" %}
            <div class="d-flex d-flex justify-content-end">
                    {% if perfil.tipo != "user" %}
                    <a href="{{ url_for("cambiar_tipo_usario", user=perfil.usuario, type="user") }}" class="btn btn-info btn-sm" role="button" aria-disabled="true">Establecer como Estudiante</a>
                    {% endif %}
                    {% if perfil.tipo != "moderator" %}
                    <a href="{{ url_for("cambiar_tipo_usario", user=perfil.usuario, type="moderator") }}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Establecer como Moderador</a>
                    {% endif %}
                    {% if perfil.tipo != "instructor" %}
                    <a href="{{ url_for("cambiar_tipo_usario", user=perfil.usuario, type="instructor") }}" class="btn btn-success btn-sm" role="button" aria-disabled="true">Establecer como Instructor</a>
                    {% endif %}
                    {% if perfil.tipo != "admin" %}
                    <a href="{{ url_for("cambiar_tipo_usario", user=perfil.usuario, type="admin") }}" class="btn btn-warning btn-sm" role="button" aria-disabled="true">Establecer como Administrador</a>
                    {% endif %}
            </div>
            
            <div class="d-flex d-flex justify-content-end">
                {% if perfil.activo %}
                <a href="{{ url_for("inactivar_usuario", user_id=perfil.usuario) }}" class="btn btn-warning btn-sm" role="button" aria-disabled="true">Inactivar Usuario</a>
                {% else %}
                <a href="{{ url_for("activar_usuario", user_id=perfil.usuario) }}" class="btn btn-warning btn-sm" role="button" aria-disabled="true">Activar Usuario</a>
                {% endif %}
                <a href="{{ url_for("eliminar_usuario", user_id=perfil.usuario) }}" class="btn btn-danger btn-sm" role="button" aria-disabled="true">Eliminar Usuario</a>
            </div>
            {% endif %}


            <div class="container" id="profile">

                <!--
                Gracias al snippets creado por Edgar Burongoh

                https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631
                -->

                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-2 border-right">
                            <div class="fd-lex flex-column align-items-center text-center p-3 py-5">
                                <img class="rounded-circle mt-5" width="150px" alt=""
                                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                                <span class="font-weight-bold">{{ perfil.nombre }} {{ perfil.apellido }}</span>
                                <span class="text-black-50">{{ perfil.correo_electronico }}</span>
                                <p>Perfil: <span class="text-black-50">{{ perfil.tipo }}</span></p>
                            </div>
                        </div>
                        <div class="col-md-10 border-right">
                            {% if current_user.is_authenticated and  current_user.tipo == "admin" %}
                                {% if perfil.estado == False %}
                                
                                {% endif%}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>


</body>

</html>
